@use "../abstracts";

.products {
    margin-top: 100px;

    @include abstracts.screen(md) {
        margin-top: 50px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include abstracts.screen(md) {
            flex-direction: column;
        }
    }

    &__title {
        font-size: 3.6rem;
        line-height: 133.333%;
        @include abstracts.screen(lg) {
            font-size: 3.2rem;
        }
    }

    &-cate {
        @include abstracts.screen(md) {
            margin-top: 32px;
        }

        &__item {
            margin-left: 40px;
            padding: 8px 0;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 150%;
            text-transform: uppercase;

            &--active {
                border-bottom: 1px solid var(--primary-text);
            }

            @include abstracts.screen(lg) {
                margin-left: 10px;
            }
        }
    }

    &__bottom {
        margin-top: 40px;

        &--separate {
            margin-top: 30px;

            @include abstracts.screen(sm) {
                margin-top: 0;
            }
        }
    }

    &-list {
        display: none;

        &--active {
            display: block;
        }
    }
}
