@use "../abstracts";

.single-banner {
    position: relative;
    margin-top: 100px;

    background: url(../../assets/images/banner/banner-01.png) no-repeat;
    background-size: cover;
    background-position: center;

    &__inner {
        padding: 40px 0 100px;
        background: rgb(0, 0, 0, 0.5);

        @include abstracts.screen(md) {
            padding: 230px 0 142px;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        margin-top: 80px;
        color: var(--second-text);
    }

    &__title {
        text-align: center;
        font-size: 5.6rem;
        line-height: 142.857%;

        @include abstracts.screen(md) {
            font-size: 4.8rem;
        }
    }

    &__desc {
        margin-top: 24px;
        font-size: 1.6rem;
        line-height: 150%;

        @include abstracts.screen(md) {
            margin-top: 12px;
        }
    }
}
