@use "../abstracts";

.slider {
    margin-top: 50px;

    @include abstracts.screen(md) {
        margin-top: 30px;
    }

    &__heading {
        font-size: 3.6rem;
        line-height: 133.333%;
        text-align: center;
        margin-bottom: 50px;

        @include abstracts.screen(md) {
            font-size: 2.8rem;
            line-height: 137.143%;
            margin-bottom: 32px;
        }
    }
}
