<div class="contact">
    <div class="container">
        <div class="contact__inner">
            <div class="contact__item contact__imgs">
                <img
                    src="./assets/images/contact/contact-01.png"
                    alt="Contact image 1"
                    class="contact__img contact__img--one"
                />
                <img
                    src="./assets/images/contact/contact-02.png"
                    alt="Contact image 2"
                    class="contact__img contact__img--two"
                />
                <img
                    src="./assets/images/contact/contact-03.png"
                    alt="Contact image 3"
                    class="contact__img contact__img--three"
                />
            </div>
            <div class="contact__item contact__info">
                <p class="contact__desc">Renovate your home AT</p>
                <h2 class="contact__address">78 Trung Kinh, Yen Hoa, Cau Giay, Hanoi</h2>

                <button class="contact__btn">@Orangy</button>
            </div>
            <div class="contact__item contact__imgs">
                <img
                    src="./assets/images/contact/contact-04.png"
                    alt="Contact image 4"
                    class="contact__img contact__img--four"
                />
                <img
                    src="./assets/images/contact/contact-05.png"
                    alt="Contact image 5"
                    class="contact__img contact__img--five"
                />
            </div>
        </div>
    </div>
</div>
