<div class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__top">
                <h3 class="footer__title">Subscribe to get 10% OFF</h3>
                <p class="footer__desc">Subscribe for store updates and discounts.</p>
                <input type="email" placeholder="Email" class="footer__input" />
            </div>

            <div class="footer__social">
                <a href="#!" class="footer__social--link">
                    <img src="./assets/icons/facebook.svg" alt="Facebook" class="footer__social--icon" />
                </a>
                <a href="#!" class="footer__social--link">
                    <img src="./assets/icons/twitter.svg" alt="Twitter" class="footer__social--icon" />
                </a>
                <a href="#!" class="footer__social--link">
                    <img src="./assets/icons/instagram.svg" alt="Instagram" class="footer__social--icon" />
                </a>
                <a href="#!" class="footer__social--link">
                    <img src="./assets/icons/tiktok.svg" alt="TikTok" class="footer__social--icon" />
                </a>
                <a href="#!" class="footer__social--link">
                    <img src="./assets/icons/youtube.svg" alt="Youtube" class="footer__social--icon" />
                </a>
                <a href="#!" class="footer__social--link">
                    <img src="./assets/icons/vingroup.svg" alt="VinGroup" class="footer__social--icon" />
                </a>
            </div>
            <div class="footer__bottom">
                © 2024 
                <a href="/" class="footer__page--link">orangy</a>
            </div>
        </div>
    </div>
</div>
