<div class="header">
    <div class="header__content">
        <div class="header__content-top">
            <img
                src="./assets/icons/arrow-left.svg"
                alt="Arrow left"
                class="header__content-top--arrow d-none d-md-block"
            />
            <p class="header__phone d-md-none">(+84) 12 34 5678</p>
            <p class="header__address">78 Trung Kinh, Yen Hoa, Cau Giay, Hanoi</p>
            <img
                src="./assets/icons/arrow-right.svg"
                alt="Arrow right"
                class="header__content-top--arrow d-none d-md-block"
            />
        </div>
        <h1 class="header__logo">
            <a href="/">Orangy</a>
        </h1>
    </div>
</div>
