<div class="inspiration">
    <div class="container">
        <h2 class="inspiration__heading">
            Change the look of your house, <br />
            change the perspective of others
        </h2>

        <div class="inspiration__info">
            <!-- Inspiration item 1 -->
            <div class="inspiration-item">
                <img src="./assets/images/inspiration/inspiration-01.png" alt="" class="inspiration-item__img" />
                <h3 class="inspiration-item__title">Showroom</h3>
                <p class="inspiration-item__desc">
                    Experience design for living at our flagship showroom located in Boston’s South End.
                </p>
            </div>

            <!-- Inspiration item 2 -->
            <div class="inspiration-item">
                <img src="./assets/images/inspiration/inspiration-02.png" alt="" class="inspiration-item__img" />
                <h3 class="inspiration-item__title">Interior work</h3>
                <p class="inspiration-item__desc">
                    Crafting spaces through meticulous planning, material selection, and creative execution, enhancing
                    aesthetics and functionality.
                </p>
            </div>

            <!-- Inspiration item 3 -->
            <div class="inspiration-item">
                <img src="./assets/images/inspiration/inspiration-03.png" alt="" class="inspiration-item__img" />
                <h3 class="inspiration-item__title">Authentic design</h3>
                <p class="inspiration-item__desc">
                    We only carry designs we believe in ethically and aesthetically – original, authentic pieces that
                    are made to last.
                </p>
            </div>

            <!-- Inspiration item 4 -->
            <div class="inspiration-item">
                <img src="./assets/images/inspiration/inspiration-04.png" alt="" class="inspiration-item__img" />
                <h3 class="inspiration-item__title">Custom additions</h3>
                <p class="inspiration-item__desc">
                    Tailoring unique elements to spaces, elevating interiors with personalized craftsmanship and design
                    solutions.
                </p>
            </div>
        </div>
    </div>
</div>
