<div class="products">
    <div class="container">
        <div class="products__inner">
            <div class="products__top">
                <h3 class="products__title">Our picks for you</h3>
                <div class="products-cate">
                    <a href="#!" class="products-cate__item products-cate__item--active">Seating</a>
                    <a href="#!" class="products-cate__item">Table</a>
                    <a href="#!" class="products-cate__item">Storage</a>
                    <a href="#!" class="products-cate__item">Lighting</a>
                    <a href="#!" class="products-cate__item">Decor</a>
                </div>
            </div>

            <div class="products__bottom">
                <div class="products-list products-list--active">
                    <div class="row gx-1">
                        <!-- Product item 1 -->
                        <div class="col col-6 col-sm-12">
                            <div class="product-item">
                                <div class="product-item__link">
                                    <div class="product-item__tags"></div>
                                    <a href="#!">
                                        <img
                                            src="./assets/images/product/product-01.png"
                                            alt=""
                                            class="product-item__img"
                                        />
                                    </a>
                                </div>
                                <p class="product-item__desc">Sofa</p>
                                <p class="product-item__name">Oda ottoman</p>
                                <p class="product-item__price">
                                    <span class="product-item__price--old">$699.00</span>
                                </p>
                            </div>
                        </div>

                        <!-- Product item 2 -->
                        <div class="col col-3 col-sm-6">
                            <div class="product-item">
                                <div class="product-item__link">
                                    <div class="product-item__tags">
                                        <span class="tag tag__sell">Selling fast</span>
                                        <span class="tag tag__new">New</span>
                                    </div>
                                    <a href="#!">
                                        <img
                                            src="./assets/images/product/product-02.png"
                                            alt=""
                                            class="product-item__img"
                                        />
                                    </a>
                                </div>

                                <p class="product-item__desc">Dining Chair</p>
                                <p class="product-item__name">Ready dining chair</p>
                                <p class="product-item__price">
                                    <span class="product-item__price--old">$699.00</span>
                                </p>
                            </div>
                        </div>

                        <!-- Product item 3 -->
                        <div class="col col-3 col-sm-6">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-03.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Dining Chair</p>
                                <p class="product-item__name">Harbour side dining chair</p>
                                <p class="product-item__price">
                                    <span class="product-item__price--old">$699.00</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row gx-1 products__bottom--separate">
                        <!-- Product item 4 -->
                        <div class="col col-3 col-sm-6">
                            <div class="product-item">
                                <div class="product-item__link">
                                    <div class="product-item__tags">
                                        <span class="tag tag__discount">-30%</span>
                                    </div>
                                    <a href="#!">
                                        <img
                                            src="./assets/images/product/product-04.png"
                                            alt=""
                                            class="product-item__img"
                                        />
                                    </a>
                                </div>

                                <p class="product-item__desc">Sofa</p>
                                <p class="product-item__name">Tearoom club chair</p>
                                <p class="product-item__price">
                                    <span class="product-item__price--new">$699.00</span>
                                    <span class="product-item__price--old">$999.00</span>
                                </p>
                            </div>
                        </div>

                        <!-- Product item 5 -->
                        <div class="col col-3 col-sm-6">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-05.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Dining Chair</p>
                                <p class="product-item__name">Co dining chair</p>
                                <p class="product-item__price">$1,199.00</p>
                            </div>
                        </div>

                        <!-- Product item 6 -->
                        <div class="col col-6 col-sm-12">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-06.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Sofa</p>
                                <p class="product-item__name">Knitting lounge chair</p>
                                <p class="product-item__price">$999.00</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Table cate -->
                <div class="products-list">
                    <div class="row gx-1">
                        <!-- Product item 1 -->
                        <div class="col col-6 col-sm-12">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-02.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Sofa</p>
                                <p class="product-item__name">Oda ottoman</p>
                                <p class="product-item__price">$699.00</p>
                            </div>
                        </div>

                        <!-- Product item 2 -->
                        <div class="col col-3 col-sm-6">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-03.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Dining Chair</p>
                                <p class="product-item__name">Ready dining chair</p>
                                <p class="product-item__price">$699.00</p>
                            </div>
                        </div>

                        <!-- Product item 3 -->
                        <div class="col col-3 col-sm-6">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-04.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Dining Chair</p>
                                <p class="product-item__name">Harbour side dining chair</p>
                                <p class="product-item__price">$699.00</p>
                            </div>
                        </div>
                    </div>

                    <div class="row gx-1 products__bottom--separate">
                        <!-- Product item 4 -->
                        <div class="col col-3 col-sm-6">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-05.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Sofa</p>
                                <p class="product-item__name">Tearoom club chair</p>
                                <p class="product-item__price">
                                    <span class="product-item__price--new">$699.00</span> $999.00
                                </p>
                            </div>
                        </div>

                        <!-- Product item 5 -->
                        <div class="col col-3 col-sm-6">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-06.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Dining Chair</p>
                                <p class="product-item__name">Co dining chair</p>
                                <p class="product-item__price">$1,199.00</p>
                            </div>
                        </div>

                        <!-- Product item 6 -->
                        <div class="col col-6 col-sm-12">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-01.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Sofa</p>
                                <p class="product-item__name">Knitting lounge chair</p>
                                <p class="product-item__price">$999.00</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Storage cate -->
                <div class="products-list">
                    <div class="row gx-1">
                        <!-- Product item 1 -->
                        <div class="col col-6 col-sm-12">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-05.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Sofa</p>
                                <p class="product-item__name">Oda ottoman</p>
                                <p class="product-item__price">$699.00</p>
                            </div>
                        </div>

                        <!-- Product item 2 -->
                        <div class="col col-3 col-sm-6">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-06.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Dining Chair</p>
                                <p class="product-item__name">Ready dining chair</p>
                                <p class="product-item__price">$699.00</p>
                            </div>
                        </div>

                        <!-- Product item 3 -->
                        <div class="col col-3 col-sm-6">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-03.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Dining Chair</p>
                                <p class="product-item__name">Harbour side dining chair</p>
                                <p class="product-item__price">$699.00</p>
                            </div>
                        </div>
                    </div>

                    <div class="row gx-1 products__bottom--separate">
                        <!-- Product item 4 -->
                        <div class="col col-3 col-sm-6">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-04.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Sofa</p>
                                <p class="product-item__name">Tearoom club chair</p>
                                <p class="product-item__price">
                                    <span class="product-item__price--new">$699.00</span> $999.00
                                </p>
                            </div>
                        </div>

                        <!-- Product item 5 -->
                        <div class="col col-3 col-sm-6">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-05.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Dining Chair</p>
                                <p class="product-item__name">Co dining chair</p>
                                <p class="product-item__price">$1,199.00</p>
                            </div>
                        </div>

                        <!-- Product item 6 -->
                        <div class="col col-6 col-sm-12">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-06.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Sofa</p>
                                <p class="product-item__name">Knitting lounge chair</p>
                                <p class="product-item__price">$999.00</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Lighting cate -->
                <div class="products-list">
                    <div class="row gx-1">
                        <!-- Product item 1 -->
                        <div class="col col-6 col-sm-12">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-01.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Sofa</p>
                                <p class="product-item__name">Oda ottoman</p>
                                <p class="product-item__price">$699.00</p>
                            </div>
                        </div>

                        <!-- Product item 2 -->
                        <div class="col col-3 col-sm-6">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-02.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Dining Chair</p>
                                <p class="product-item__name">Ready dining chair</p>
                                <p class="product-item__price">$699.00</p>
                            </div>
                        </div>

                        <!-- Product item 3 -->
                        <div class="col col-3 col-sm-6">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-03.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Dining Chair</p>
                                <p class="product-item__name">Harbour side dining chair</p>
                                <p class="product-item__price">$699.00</p>
                            </div>
                        </div>
                    </div>

                    <div class="row gx-1 products__bottom--separate">
                        <!-- Product item 4 -->
                        <div class="col col-3 col-sm-6">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-04.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Sofa</p>
                                <p class="product-item__name">Tearoom club chair</p>
                                <p class="product-item__price">
                                    <span class="product-item__price--new">$699.00</span> $999.00
                                </p>
                            </div>
                        </div>

                        <!-- Product item 5 -->
                        <div class="col col-3 col-sm-6">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-05.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Dining Chair</p>
                                <p class="product-item__name">Co dining chair</p>
                                <p class="product-item__price">$1,199.00</p>
                            </div>
                        </div>

                        <!-- Product item 6 -->
                        <div class="col col-6 col-sm-12">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-06.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Sofa</p>
                                <p class="product-item__name">Knitting lounge chair</p>
                                <p class="product-item__price">$999.00</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Decor cate -->
                <div class="products-list">
                    <div class="row gx-1">
                        <!-- Product item 1 -->
                        <div class="col col-6 col-sm-12">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-01.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Sofa</p>
                                <p class="product-item__name">Oda ottoman</p>
                                <p class="product-item__price">$699.00</p>
                            </div>
                        </div>

                        <!-- Product item 2 -->
                        <div class="col col-3 col-sm-6">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-02.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Dining Chair</p>
                                <p class="product-item__name">Ready dining chair</p>
                                <p class="product-item__price">$699.00</p>
                            </div>
                        </div>

                        <!-- Product item 3 -->
                        <div class="col col-3 col-sm-6">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-03.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Dining Chair</p>
                                <p class="product-item__name">Harbour side dining chair</p>
                                <p class="product-item__price">$699.00</p>
                            </div>
                        </div>
                    </div>

                    <div class="row gx-1 products__bottom--separate">
                        <!-- Product item 4 -->
                        <div class="col col-3 col-sm-6">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-04.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Sofa</p>
                                <p class="product-item__name">Tearoom club chair</p>
                                <p class="product-item__price">
                                    <span class="product-item__price--new">$699.00</span> $999.00
                                </p>
                            </div>
                        </div>

                        <!-- Product item 5 -->
                        <div class="col col-3 col-sm-6">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-05.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Dining Chair</p>
                                <p class="product-item__name">Co dining chair</p>
                                <p class="product-item__price">$1,199.00</p>
                            </div>
                        </div>

                        <!-- Product item 6 -->
                        <div class="col col-6 col-sm-12">
                            <div class="product-item">
                                <a href="#!">
                                    <img
                                        src="./assets/images/product/product-06.png"
                                        alt=""
                                        class="product-item__img"
                                    />
                                </a>
                                <p class="product-item__desc">Sofa</p>
                                <p class="product-item__name">Knitting lounge chair</p>
                                <p class="product-item__price">$999.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
