<div class="sale">
    <div class="container">
        <div class="row row-cols-3 row-cols-md-1 gx-5 gx-xl-3 gx-lg-2 gy-md-2 gy-sm-1">
            <div class="col sale__col">
                <img src="./assets/images/sale/sale-01.png" alt="" class="sale__img" />
            </div>
            <div class="col sale__col">
                <div class="sale__content">
                    <p class="sale__top">Season Sale Collections</p>
                    <h3 class="sale__title">
                        SALE <br />
                        <span class="sale__discount">30% OFF</span>
                    </h3>
                    <div class="sale__text">
                        <p class="sale__desc">Save extra on our sale collection</p>
                        <p class="sale__desc">*Runs until 14:00pm PST</p>
                    </div>
                </div>
            </div>
            <div class="col sale__col">
                <img src="./assets/images/sale/sale-02.png" alt="" class="sale__img" />
            </div>
        </div>
    </div>
</div>
