<div class="service">
    <div class="container">
        <div class="service__inner">
            <div class="row row-cols-4 row-cols-lg-2 row-cols-md-1 gx-5 gx-xl-3 g-lg-3 g-md-2">
                <!-- Service item 1 -->
                <div class="col">
                    <div class="service-item">
                        <img src="./assets/icons/box.svg" alt="" class="service-item__icon" />
                        <div class="service-item__info">
                            <h4 class="service-item__title">Free & fast delivery</h4>
                            <p class="service-item__desc">
                                We offer free shipping with ground delivery to the lower 48 states.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Service item 2 -->
                <div class="col">
                    <div class="service-item">
                        <img src="./assets/icons/support.svg" alt="" class="service-item__icon" />
                        <div class="service-item__info">
                            <h4 class="service-item__title">Online support</h4>
                            <p class="service-item__desc">Online Support24 hours a day, 7 days a week</p>
                        </div>
                    </div>
                </div>

                <!-- Service item 3 -->
                <div class="col">
                    <div class="service-item">
                        <img src="./assets/icons/return.svg" alt="" class="service-item__icon" />
                        <div class="service-item__info">
                            <h4 class="service-item__title">30 Days return</h4>
                            <p class="service-item__desc">Exchange or return items free of charge within 30 days.</p>
                        </div>
                    </div>
                </div>

                <!-- Service item 4 -->
                <div class="col">
                    <div class="service-item">
                        <img src="./assets/icons/payment.svg" alt="" class="service-item__icon" />
                        <div class="service-item__info">
                            <h4 class="service-item__title">Flexible payment</h4>
                            <p class="service-item__desc">
                                Pay conveniently using multiple credit cards for added flexibility.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
