<div class="slider">
    <div class="container">
        <h2 class="slider__heading">Discover unique items</h2>

        <div class="splide" role="group" aria-label="Splide Basic HTML Example">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <div class="product-item">
                            <div class="product-item__link">
                                <div class="product-item__tags"></div>
                                <a href="#!">
                                    <img src="./assets/images/slider/slider-01.png" alt="" class="product-item__img" />
                                </a>
                            </div>
                            <p class="product-item__desc">Dining Table</p>
                            <p class="product-item__name">Releve platter</p>
                            <p class="product-item__price">
                                <span class="product-item__price--old">$699.00</span>
                            </p>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="product-item">
                            <div class="product-item__link">
                                <div class="product-item__tags"></div>
                                <a href="#!">
                                    <img src="./assets/images/slider/slider-02.png" alt="" class="product-item__img" />
                                </a>
                            </div>
                            <p class="product-item__desc">Candle</p>
                            <p class="product-item__name">Spire tapered candle</p>
                            <p class="product-item__price">
                                <span class="product-item__price--old">$699.00</span>
                            </p>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="product-item">
                            <div class="product-item__link">
                                <div class="product-item__tags">
                                    <span class="tag tag__sell">Selling fast</span>
                                    <span class="tag tag__new">New</span>
                                </div>
                                <a href="#!">
                                    <img src="./assets/images/slider/slider-03.png" alt="" class="product-item__img" />
                                </a>
                            </div>

                            <p class="product-item__desc">Storage</p>
                            <p class="product-item__name">Umanoff planter</p>
                            <p class="product-item__price">
                                <span class="product-item__price--old">$699.00</span>
                            </p>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="product-item">
                            <a href="#!">
                                <img src="./assets/images/slider/slider-04.png" alt="" class="product-item__img" />
                            </a>
                            <p class="product-item__desc">Lantern</p>
                            <p class="product-item__name">Hashira pendant lamp cluster</p>
                            <p class="product-item__price">
                                <span class="product-item__price--old">$1,199.00</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="carousel">
    <div class="carousel__inner">
        <div class="carousel__item">
            <h1 class="carousel__heading">FIND INSPIRATION</h1>
            <img class="carousel__icon" src="./assets/icons/star.svg" alt="" />
        </div>

        <div class="carousel__item">
            <h1 class="carousel__heading">DESIGN FOR LIVING</h1>
            <img class="carousel__icon" src="./assets/icons/star.svg" alt="" />
        </div>

        <div class="carousel__item">
            <h1 class="carousel__heading">UNIQUE FURNITURE</h1>
            <img class="carousel__icon" src="./assets/icons/star.svg" alt="" />
        </div>
    </div>
</div>
